@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.container {
    width: 400px;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 12px -2px rgba(0, 0, 0, 0.1),
        0 18px 36px -6px rgba(0, 0, 0, 0.1);
    
    .title {
        font-size: 20px;
    }

    form input {
        display: none;
    }

    .category {
        margin-top: 10px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    label {
        height: 145px;
        padding: 20px;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
        border: 1px solid #e0e0e0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
    }

    .selected {
        border: 1px solid #6064b6;
    }

    .check {
        display: none;
    }

    // .selected .check {
    //     // display: inline-block;
    // }

    .imgName {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px;
    }

    span.name {
        position: absolute;
        top: 72%;
        transform: translateY(-72%);
    }

    .imgContainer {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 35%;
        // transform: translateY(-35%);
    }

    img {
        width: 50px;
        height: auto;
    }

    .visa img {
        width: 80px;
    }

    .mastercard img {
        width: 65px;
    }

    .paypal img {
        width: 80px;
    }

    .AMEX img {
        width: 50px;
    }
}
