/* Search.module.scss */

.search-box {
  position: relative;
  width: 90%;
  border-radius: 5px;
  background-color: white;
  form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }
  input{
    width: 100%;
    padding: 10px 20px;
    // border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;

  }
  .button-search{
    margin-left: 12px;
    padding: 0 10px;
    font-size: 2rem;
    background: transparent;
  }
  .button-search:hover{
    color: #03a3ff;
  }
  .button-clear {
    position: absolute;
    padding: 12px;
    right: 50px;
    top: 50%;
    font-size: 1.4rem;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .button-clear:hover{
    color: var(--primary-color);
  }
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  -webkit-user-select: none;
  user-select: none;
  .btn-type-search {
      width: 20%;
      position: relative;
      background-color: white;
      font-size: 1.2rem;
      color: black;
      padding: 10px;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
  
      /* Thêm phần tử pseudo ::after để tạo thanh dọc */
      &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0px; /* Khoảng cách từ phần tử chính đến thanh dọc */
          transform: translateY(-50%);
          width: 2px; /* Độ dày của thanh dọc */
          height: 80%; /* Chiều cao của thanh dọc */
          background-color: rgba(95, 95, 95, 0.532);
      }
      .type-search-icon {
          float: right;
      }
  }
}
// Hiển thị danh sách loại tìm kiếm khi click vào nút
.menu-category-search{
  position: absolute;
  width: 100%;
  top: calc(100% + 10px);
  background-color: white;
  display: block;
  padding: 20px 0;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  //không cho chọn chữ 
  -webkit-user-select: none;
  user-select: none;

  ul{
    padding: 0;
    margin: 0;
    li{
      padding: 8px;
      &:hover{
        background-color: #f5f5f5;
      }
    }
    
  }
}

.button-clear .fa-times-circle 
{
  color: #888;
}

.button-clear:hover .fa-times-circle {
  color: #f00; /* Màu đỏ khi hover */
}
