.container {
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}

.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.btn-add {
  background-color: #007bff;
  color: #fff;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}

.upload-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.file-input {
  display: block;
}

.product-list-section {
  margin-top: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style-type: none;
  padding: 0;
}

.product-list li {
  width: 19%; /* Đặt chiều rộng cho từng mục sản phẩm */
  background: #eee;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Để định vị cho product-action */
}

.product-info {
  display: flex;
  align-items: center;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Đặt chiều rộng cố định cho hình ảnh */
  height: 100%; /* Đặt chiều cao cố định cho hình ảnh */
  object-fit: cover; /* Đảm bảo hình ảnh không bị kéo dãn */
  margin-right: 10px;
}

.product-name {
  font-weight: bold;
}
//box edit
.product-action {
  display: none; /* Ẩn mặc định */
  position: absolute; /* Định vị để hiển thị bên phải sản phẩm */
  right: 0;
  top: 10%;
  transform: translateY(-50%);
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Thêm bóng cho sản phẩm */
}

.product-list li:hover .product-action {
  display: flex; /* Hiển thị khi hover */
}

.product-action button {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px; /* Khoảng cách giữa các nút */
  i{
    font-size: 1.4rem;
    &:hover{
      color: rgb(0, 30, 255);
    }
  }
}
// box prewiew
.product-action-preview {
  display: none; /* Ẩn mặc định */
  position: absolute; /* Định vị để hiển thị bên trong sản phẩm */
  left: 50%; /* Căn giữa theo chiều ngang */
  top: 50%; /* Căn giữa theo chiều dọc */
  transform: translate(-50%, -50%); /* Di chuyển nút về giữa chính xác */
  padding: 2px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Thêm bóng cho sản phẩm */
}

.product-action-preview button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  i{
    font-size: 1.4rem;
    &:hover{
      color: rgb(0, 30, 255);
    }
  }
}
.product-list li:hover .product-action-preview {
  display: flex; /* Hiển thị khi hover */
}

/* Styles cho chi tiết sản phẩm */
.product-detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.product-detail {
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 20px;
}

.product-detail-content {
  display: flex;
  flex-direction: row;
}
.product-detail-content--preview{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-detail-image {
  width: 100%;
  height: 100%;
}

.product-detail-image img {
  width: 100%;
  height: auto; /* Đảm bảo ảnh giữ tỷ lệ */
  object-fit: cover; /* Đảm bảo ảnh không bị kéo dãn */
}

.product-detail-info {
  display: flex;
  flex-wrap: wrap;
}
.product-detail-info label{
  padding: 6px;
}
.product-detail-info input,
.product-detail-info textarea,
.product-detail-info select {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.product-detail-info textarea {
    height: 100px;
    resize: none;
}

.btn-save {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-save:hover {
    background-color: #0056b3;
}

.product-detail-name {
  font-size: 16px;
}

//css cho box adđ
.product-add-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.product-add {
  overflow-x: hidden; /* Ẩn cuộn ngang */
  overflow-y: auto;   /* Cho phép cuộn dọc khi nội dung vượt quá chiều cao */
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 60vw;        /* Chú ý chữ v và W trong vw */
  height: 80vh;
  max-height: 550px;  /* Giới hạn chiều cao tối đa */
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Thêm bóng để hiển thị rõ hơn */
}

/* Tùy chỉnh thanh cuộn cho WebKit (Chrome, Safari) */
.product-add::-webkit-scrollbar {
  width: 4px; /* Độ rộng của thanh cuộn */
}

.product-add::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Màu của thanh kéo */
  border-radius: 4px; /* Bo tròn thanh kéo */
}

.product-add::-webkit-scrollbar-track {
  background: transparent; /* Màu nền của đường cuộn */
  
}

.product-add-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-add-form {
  display: flex;
  flex-direction: column; /* Đặt các phần tử con theo chiều dọc */
  height: 100%;
  padding: 20px;
}
.product-add-form label {
  display: flex;
  flex-direction: column; 
}
.product-add-form input[type="text"], .product-add-form input[type="number"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-add-form input[type="file"] {
  margin-top: 10px;
}
.product-add-form select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
}
.buttons-row {
  display: flex;
  justify-content: flex-end; /* Đẩy các nút về phía bên phải */
  gap: 10px; /* Khoảng cách giữa các nút */
  margin-top: auto; /* Đẩy các nút xuống cuối cùng của hộp */
}

.btn-add-product {
  width: 100px;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  &:hover{
    opacity: 0.8;
  }
}
.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 20px;
}
.btn-cancel{
  max-width: 100px;
  background-color: #989898;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  &:hover{
    opacity: 0.8;
  }
}
.boxproduct{    
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 400px;
  justify-content: center;
  padding: 20px;
  border: 2px solid #ddd; /* Border for the container */
  border-radius: 8px;
  text-align: center;
  margin: auto;
}
.iconproduct{
  font-size: 4rem;
  border-radius: 50%; /* Makes the container circular */
  padding: 20px; /* Adjust size as needed */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}