.title-page {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 40px;
}
.tabs {
    display: flex;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab.active {
    border-bottom: 2px solid #007bff; /* Màu sắc cho border khi tab được chọn */
}

.tab:hover {
    background-color: #f0f0f0; /* Màu nền khi hover */
}

.tab + .tab {
    margin-left: 10px; /* Khoảng cách giữa các tab */
}

.tab-content {
    min-height: 600px;
    border: 1px solid #ccc; /* Border cho phần nội dung */
    padding: 10px;
    margin-top: 10px;
}

//tab-content
.content {
    height: 460px; /* Đặt chiều cao cho nội dung */
    overflow-y: auto; /* Thêm thanh cuộn theo chiều dọc khi cần */
    margin: 20px 0; /* Khoảng cách 20px trên và dưới */
    border: 1px solid #ccc; /* Border cho phần nội dung */
    border-radius: 5px; /* Bo góc của phần nội dung */
    padding: 10px; /* Khoảng cách bên trong */
}

/* CSS cho thanh cuộn */
.content::-webkit-scrollbar {
    width: 8px; /* Độ rộng của thanh cuộn */
}

.content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Màu nền của thanh cuộn */
    border-radius: 5px; /* Bo góc của thanh cuộn */
}

.content::-webkit-scrollbar-thumb {
    background: #888; /* Màu nền của nút cuộn */
    border-radius: 5px; /* Bo góc của nút cuộn */
}

.content::-webkit-scrollbar-thumb:hover {
    background: #555; /* Màu nền của nút cuộn khi di chuột vào */
}


//css Ô ITEM TRONG TAB
.list-item {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    width: calc(16.667% - 20px); /* Đặt kích thước cho ô item và cách nhau */
    height: 120px;
    margin: 10px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0;
    text-align: center;
    transition: transform 0.3s; /* Hiệu ứng chuyển đổi */
  }
  .item video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .item:hover {
    transform: scale(1.05); /* Phóng to khi hover */
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item p {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
    opacity: 0; /* Ẩn mặc định */
    transition: opacity 0.3s; /* Hiệu ứng chuyển đổi */
  }
  
  .item:hover p {
    opacity: 1; /* Hiển thị khi hover */
  }
  
  //button 
  .delete-button {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    font-size: 1.1rem;
    padding: 6px;
    color: black;
    border: none;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition:ease-in-out 0.3s;
    :hover {
      scale: 1.1;
    }
  }

  .item:hover .delete-button {
    opacity: 1;
  }