// Home.module.scss

body {
    font-family: Arial, sans-serif;
}
.row{
    a{
        padding-left: 0;
        padding-right: 0;
    }
}
.banner {
    position: relative;
    background-image: url("../../Asset/Img/banner.jpg");
    background-size: cover;
    min-height: 300px;
    color: white;
    padding: 20px;
    text-align: center;

    .banner-layer {
        background-color: rgba(255, 255, 255, 0.1); /* Màu nền với độ trong suốt */
        backdrop-filter: blur(2px); /* Độ mờ của nền */
    }

    h1 {
        margin: 0;
    }

    p {
        margin: 15px 0;
    }
}

.navbar {
    border-radius: 5px;
    background-color: white;
    min-height: 40px;
    padding: 10px 10px;
}

.banner-content {
    margin-top: 60px;

    .banner-title {
        --showdowncolor: #b3b3b3;
        margin: 20px 0;
        font-size: 1.4rem;
        font-weight: 700;
        text-shadow: -1px -1px 0 var(--showdowncolor), 1px -1px 0 var(--showdowncolor), -1px 1px 0 var(--showdowncolor), 1px 1px 0 var(--showdowncolor); /* Hiệu ứng viền với màu trắng */
    }
}

.start-btn {
    font-size: 1.2rem;
    background-color: red;
    border-radius: 5px;
    padding: 15px 25px;
    border: none;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.start-btn:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

// Media
.Media_Directory {
    // background-color: #dce1e1;
    padding: 20px;

    &-Title {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &-List {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &_Item {
        background-color: #fff;
        border: 1px solid #dae8e7;
        color: #000;
        display: inline-block;
        padding: 8px;
        text-align: center;
        transition: all 0.25s ease-in;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 20px;
        }

        &_img {
            padding: 8px;
            object-fit: cover;

            img {
                width: 100%;
                height: auto;
            }
        }

        &_Title {
            font-size: 1.2rem;
            margin: 10px 0;
        }
    }
}
